# Virtual environment
venv/

# Environment variables (never push credentials)
.env

# Python cache
__pycache__/
*.pyc

# Parquet files (too large for GitHub usually)
data/parquet/
data/raw/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Terraform files
# Terraform
infrastructure/terraform/.terraform/
infrastructure/terraform/*.tfstate
infrastructure/terraform/*.tfstate.backup
infrastructure/terraform/*.tfvars
infrastructure/terraform/.terraform.lock.hcl